# الأسرار - لا ترفعها أبداً على GitHub
.env

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

# ملفات النظام
.DS_Store
Thumbs.db

# ملفات IDE
.idea/
.vscode/
*.iml

# منصات (اختياري إذا ما بتستخدمها)
ios/Flutter/Flutter.podspec
